* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgba(78, 78, 78, 0.699);
    width: 680px;
    height: 80vh;
}

.calc-display{
    height: 20%;
    background-color: antiquewhite;
}
.calc-buttons {
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 4px; /* Vertical space between rows */
}

.button-row {
    display: flex;
    flex: 1;
    gap: 4px; /* Horizontal space between buttons */
}

button {
    flex: 1;
    font-size: 1.5rem;
    background-color: #eee;
    border: none;
    border-radius: 8px;
}
.equals {
    flex: 2;
}